*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    display: inline-flex;
    width: 100px;
    height: 100px;
    font-family: custom;
    font-size: 80px;
    align-items: center;
    justify-content: center;
}
.gv1{
    width: fit-content;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
}
/* button:hover{   disabled for now
   padding: 60px;
} */
.gv1{
    display: none;
}